select {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #bdbdbd;
    border-radius: 20px;
    outline: none;
    appearance: none; 
    cursor: pointer;
}


#campo_adm {
    transition: all 0.3s ease;
}